$primary-color: blue;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}


.header {
    
    p {
        color: blue;
    }
}

.footer {
    p {
        color: darkgray;
    }
}
